<%= form_with(model: drop_off_package, local: true) do |form| %>
  <% if drop_off_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drop_off_package.errors.count, "error") %> prohibited this drop_off_package from being saved:</h2>

      <ul>
      <% drop_off_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tracking_ref %>
    <%= form.text_field :tracking_ref, id: :drop_off_package_tracking_ref, autofocus: @drop_off_package.new_record?, autocomplete: false, size: 50 %>
  </div>

  <div class="actions">
  <% if drop_off_package.persisted? %> <%# if persisted, we are doing an update %>
    <%= form.submit %>
  <% else %>
    <%= form.submit("More", name: "more", style: "display: none;") %>
    <%= form.submit("Receipt", name: "receipt") %>
    <%= form.submit("Done", name: "done") %>
  <% end %>
  </div>
<% end %>
